<%= render 'layouts/navigation' %>

  <%= render 'layouts/header/aboutheader' %>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

              <!-- START POST -->
            <div class="center">
              <div class="wrapper">
                <%= link_to image_tag("kboy.jpg", alt: "KBOY"), 'https://twitter.com/FernandezKboy' %>
              </div>
            </div>

            <br>

            <%= render 'layouts/favicons' %>

            <br>

            <div class="center">
              <div class="wrapper">
                <%= link_to image_tag("operationcode800.png", alt: "KBOY"), 'https://operationcode.org/' %>
              </div>
            </div>

            <br>

                <p>Hi my name is Kirby you can call me by my nickname "K-BOY" .I am a self-taught developer , who loves to push 100 percent just to learn programming in general.</p>
                <p>I am originally from the <em>Philippines</em> and due to opportunities that my late grandfather had because of being a <em>World War II Veteran and a Purple Heart</em> recipient.We are given a chance to live in the <em>United States</em> and we are so grateful for all the opportunities.</p>
                <p>I usually hangout on <a href="https://github.com/kboygit">Github</a> and <a href="https://slack.com/">Operation Code</a> slack.To learn and being mentored by really talented people in the <em>Technology Industry(Web Development & Software Development.)</em>, right now I am being mentored by
                  a person whom I won't disclosed his name, mainly on Javascript.And also certain people on Ruby on Rails and different guidance and advice.I am thankful and grateful for everybody in this journey of mine.
                </p>
                  <blockquote cite="#">
                    <%= link_to image_tag("pinas.jpg", alt: "KBOY"), 'https://twitter.com/FernandezKboy' %>
                  </blockquote>
                <p>Like my late grandfather (US Army), I also served in the military, in the <em>United States Navy.</em>Served one tour during <em>Operation Inherent Resolve </em>and got to experience the different parts and culture around the world , it is truly a once in a lifetime experience and will be forever grateful for it.</p>
                <blockquote cite="#">
                  <div class="">
                    <%= link_to image_tag("navy4x.png", alt: "KBOY"), 'https://twitter.com/FernandezKboy' %>
                    <p>Smile please!</p>
                    <%= link_to image_tag("navy2x.png", alt: "KBOY"), 'https://twitter.com/FernandezKboy' %>
                    <p>Weeman onboard! Never expect too see this fella in real life!</p>
                  </div>
                </blockquote>

              <!-- END POST -->
            </div>
        </div>
    </div>

    <hr>

      <!-- FOOTER -->
        <%= render 'layouts/footer' %>


    
