
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    Menu <i class="fa fa-bars"></i>
                </button>

                <br>

                <!-- HEADER LOGO -->
                <a class="navbar-brand" href="/homepage">
                  <%= link_to image_tag("kirbylogo1.png", alt: "KBOY"), '/homepage'  %>
                </a>

            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/homepage">Home</a>
                    </li>
                    <li>
                        <a href="/about">About</a>
                    </li>
                    <li>
                        <a href="/post">Post</a>
                    </li>
                    <li>
                        <a href="/project">Project</a>
                    </li>
                    <li>
                        <a href="/contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

  <%= render 'layouts/header/homepageheader' %>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <%= render 'homepagepreview/jan16' %>
                <hr>
                <%= render 'homepagepreview/jan15' %>
                <hr>
                <%= render 'homepagepreview/jan14' %>
                <hr>
                <%= render 'homepagepreview/jan13' %>
                <hr>
                <%= render 'homepagepreview/jan12' %>
                <hr>
                <%= render 'homepagepreview/jan11' %>
                <hr>
                <%= render 'homepagepreview/jan10' %>
                <hr>
                <%= render 'homepagepreview/jan9' %>
                <hr>
                <%= render 'homepagepreview/jan8' %>
                <hr>
                <%= render 'homepagepreview/jan7' %>
                <hr>
                  <!-- Pager -->
                  <%= render 'layouts/pager' %>
            </div>
        </div>
    </div>

    <hr>

      <!-- FOOTER -->
        <%= render 'layouts/footer' %>
