<div class="favicons">
  <%= image_tag("ruby.png", alt: "KBOY") %>
  <%= image_tag("rails.png", alt: "KBOY") %>
  <%= image_tag("heroku.png", alt: "KBOY") %>
  <%= image_tag("github.png", alt: "KBOY") %>
  <%= image_tag("postgresql.png", alt: "KBOY") %>
  <%= image_tag("git.png", alt: "KBOY") %>
  <%= image_tag("docker.png", alt: "KBOY") %>
  <%= image_tag("rspec.png", alt: "KBOY") %>
  <%= image_tag("vim.png", alt: "KBOY") %>
  <%= image_tag("ubuntu.png", alt: "KBOY") %>
  <%= image_tag("atom.png", alt: "KBOY") %>
  <%= image_tag("bootstrap.png", alt: "KBOY") %>
  <%= image_tag("sql.png", alt: "KBOY") %>
  <%= image_tag("sass.png", alt: "KBOY") %>
  <%= image_tag("trello.png", alt: "KBOY") %>
  <%= image_tag("waffle.png", alt: "KBOY") %>
  <%= image_tag("bitbucket.png", alt: "KBOY") %>
  <%= image_tag("slack.png", alt: "KBOY") %>
</div>
